
header{
    background-color: rgb(83, 5, 5);;font-size: x-large;font-style: italic; font-weight: bolder; font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center; font-style: italic; background-color: rgb(21, 21, 223);
}
li{
    text-align: center;
}
ul{
    list-style: none;
}
img {
    width: 250px;
    height: 250px;
    margin: 20px 20px 90px 630px;
}
p{
    color: rgb(163, 10, 10);font-size: x-large;
}
footer{
    background: grey;
}